<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Condom shop</title>
    <!-- chèn css vào  trang chủ  phải để ở phần head để css load cùng html-->
    <link rel="stylesheet" href="style.css" /> 
    <!--nhúng  bootrap thư viện css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="style.css" rel="stylesheet">
   
    <link rel="shortcut icon" href="https://res.cloudinary.com/http-antubeone-blogspot-com/image/upload/v1567015966/Untitled-1_eee8sm.png" type="image/x-icon" />
   
</head>
<body >
   
    <section class=" container-fluid content ">
        <div class="slide-2">
                <div id="demo" class="carousel slide" data-ride="carousel-iner">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                          <div class="carousel-item active"align="center">
                            <img src="hinh/1.jpg" alt="Los Angeles" width="80%" height="500">
                          </div>
                          <div class="carousel-item"align="center">
                            <img src="hinh/2.jpg" alt="Chicago" width="80%" height="500">
                          </div>
                          <div class="carousel-item"align="center">
                            <img src="hinh/3.jpg" alt="New York" width="80%" height="500">
                          </div>
                        </div>
                        
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div>
                      
        </div>
        <hr>
        <h2 class="text1">BAO CAO SU Okamoto </h2>
        <h2 class="text1">Giá: 5USD </h2>

        <form action="/pay"method="post"class="text1">
          <input type="submit" value="MUA">
        </form>
    </section>
<footer class="endpage">
    <div class="infor" align="center">
    <h5  style="color:rgb(178, 199, 236);"> Họ Tên: Thạch Minh Trí</h5>
    <h6>MSSV: 1712253</h6>
    <h6 >API: Paypal Sandbox</h6>
    <h6 >Nhóm: 20B07</h6>
    </div>


    </footer>
    
    
    
    
</body>
</html>